﻿
@model  Models.Categories.CategoryViewModel
@{
    Layout = null;
    var title = "Add new category";
    var buttonSubmit = "Save";
    if (Model.InfoCategory.Id != 0)
    {
        title = "Edit category";
        buttonSubmit = "Update";

    }
    if (!string.IsNullOrEmpty(Model.InfoCategory.Title))
    {
        title += ": " + Model.InfoCategory.KeyName;
    }

    ViewData["Title"] = "Edit";
    Layout = null;
    var active= "";
    var inactive = "";
    if (Model.InfoCategory.Status == "active")
    {
        active = "selected";
    }
    else if(Model.InfoCategory.Status == null)
    {
         active = "selected";
    }
    else
    {
        inactive = "selected";
    }

}

<style>
    .modal-dialog {
        max-width: 1000px;
        margin: auto;
    }

    #modal-del-editor {
        max-width: 500px;
        margin: 1.75rem auto;
    }
</style>

<!-- Modal 1111-->
<div class="modal fade" id="modal-id" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" style="margin-top:40px;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="addContactLabel">@title</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div data-url-refresh="/administrator/category/CategoryEditor/@Model.InfoCategory.Id">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <form id="frmAdd" action="/administrator/Category/CategoryEditor" method="post">
                                <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                                <input name="InfoCategory.Id" value="@Html.DisplayFor(model=>model.InfoCategory.Id)" id="ed-edit" type="text" hidden />
                                @*<input asp-for="InfoCategory.ParentId" type="text" hidden />
                                    <input asp-for="InfoCategory.Name" type="hidden" />
                                    <input asp-for="InfoCategory.KeyName" type="hidden" />*@
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label required">Title</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="title-val" required value="@Html.DisplayFor(model=>model.InfoCategory.Title)" name="InfoCategory.Title" for-slug="InfoCategory.SlugUrl" class="form-control">
                                                <span class="field-validation-error text-danger"
                                                      data-valmsg-for="InfoCategory.Title"
                                                      data-valmsg-replace="true"></span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Slug</label>
                                            <div class="col-sm-10">
                                                <input type="text" value="@Html.DisplayFor(model=>model.InfoCategory.SlugUrl)" name="InfoCategory.SlugUrl" class="form-control">
                                                <span class="field-validation-error text-danger"
                                                      data-valmsg-for="InfoCategory.SlugUrl"
                                                      data-valmsg-replace="true"></span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 none">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Status</label>
                                            <div class="col-sm-8">
                                                <select class="form-control"  name="InfoCategory.Status">
                                                    <option @active value="active">Active</option>
                                                    <option @inactive value="inactive">InActive</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label ">Keywords</label>
                                            <div class="col-sm-10">
                                                <input type="text" value="@Html.DisplayFor(model=>model.InfoCategory.Keywords)" name="InfoCategory.Keywords" class="form-control">
                                                <span class="field-validation-error text-danger"
                                                      data-valmsg-for="InfoCategory.Keywords"
                                                      data-valmsg-replace="true"></span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Description</label>
                                            <div class="col-sm-10">
                                                <textarea rows="4" type="text" name="InfoCategory.Description" class="form-control">@Model.InfoCategory.Description</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="form-group row none">
                                            <label class="col-sm-2 col-form-label">Order</label>
                                            <div class="col-sm-10">
                                                <input type="hidden" name="InfoCategory.OrderBy" value="1" class="form-control" />
                                            </div>
                                        </div>
                                    </div>*@
                                <input type="hidden" name="InfoCategory.OrderBy" value="1" class="form-control" />

                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="clearfix form-actions submit-buttons text-center">
                                        <button type="button" class="btn btn-outline btn-danger" data-dismiss="modal">Close</button>
                                        <button class="btn btn-success" id="edit-cate" type="button" onclick="savePopupForm()">
                                            <i class="fa fa-save"></i>
                                            @buttonSubmit
                                        </button>
                                        <button class="btn" onclick="location.href = window.location.href;" type="reset">
                                            <i class="fa fa-undo"></i>
                                            Reset
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





